/.idea/
*.iml

/node_modules/
/npm-debug.log

/tmp/

/packages/*/dist/
/packages/*/node_modules/
/packages/*/**/*.d.ts
/packages/*/**/*.js
/packages/*/**/*.js.map
/packages/*/tsconfig.tsbuildinfo

/packages/create-typescript-monorepo/template.zip
/packages/create-typescript-monorepo-package/template.zip
/packages/create-typescript-package/template.zip
